<div class="container">
  <p class="text-center">
    <a routerLink="/auth/signup">Post your CV</a> - It only takes a few seconds
  </p>
  <div class="row">
    <div class="col-sm-6" *ngFor="let job of jobs">
      <div class="card m-2 shadow animate-on-hover">
        <div class="card-body p-4">
          <h3 class="card-title title fw-bold">{{ job.announce_name }}</h3>
          <h4>Full job description</h4>
          <p class="card-text desc">
            {{ job.job_description }}
          </p>
          <p class="card-text">
            <strong>Company:</strong> {{ job.company_id }}
          </p>
          <p class="card-text"><strong>Job Type:</strong> {{ job.job_type }}</p>
          <p class="card-text">
            <strong>Job Category:</strong> {{ job.job_category }}
          </p>
          <div class="card-footer d-flex">
            <!-- <button
              class="btn btn-primary p-2 me-auto fw-bold"
              [routerLink]="['/jobs', job.id]"
            > -->
            <button
              class="btn btn-primary p-2 me-auto fw-bold"
              routerLink="/jobs-details"
            >
              Apply now
            </button>
            <button class="btn btn-subtle" type="button">
              <i class="bi bi-share-fill"></i>
            </button>
            <button class="btn btn-subtle" type="button">
              <i class="bi bi-save"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
