<div class="" *ngIf="!jobs || jobs.length === 0">
  <p>Post your CV - It only takes a few seconds</p>
</div>
<div class="row">
  <div class="col-sm-6" *ngFor="let job of jobs">
    <div class="card m-2 shadow animate-on-hover">
      <div class="card-body">
        <h5 class="card-title">{{ job.announce_name }}</h5>
        <p class="card-text">
          {{ job.job_description }}
        </p>
        <p class="card-text"><strong>Company:</strong> {{ job.company_id }}</p>
        <p class="card-text"><strong>Job Type:</strong> {{ job.job_type }}</p>
        <p class="card-text">
          <strong>Job Category:</strong> {{ job.job_category }}
        </p>
        <div class="card-footer d-flex">
          <button class="btn btn-link p-0 me-auto fw-bold" href="#">
            Action
          </button>
          <button class="btn btn-subtle" type="button">
            <i class="bi bi-share-fill"></i>
          </button>
          <button class="btn btn-subtle" type="button">
            <i class="bi bi-save"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
