<form class="form-control form-control-lg">
  <div class="input-group m-3">
    <span class="input-group-text"><i class="bi bi-search"></i></span>
    <input
      type="text"
      class="form-control"
      placeholder="Job title, Keywords, or Company"
    />
    <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>

    <input type="text" class="form-control" placeholder="City, state, ..." />
    <button type="button" class="btn btn-primary">Search</button>
  </div>
</form>
