<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card m-4 shadow">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" href="#">Website</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Linkedin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">List of Jobs</a>
            </li>
          </ul>
        </div>
        <div class="card-body text-">
          <h5 class="card-title">INDATACORE</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">More...</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-4 shadow">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" href="#">Website</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Linkedin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">List of Jobs</a>
            </li>
          </ul>
        </div>
        <div class="card-body text-">
          <h5 class="card-title">INDATACORE</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">More...</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-4 shadow">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" href="#">Website</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Linkedin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">List of Jobs</a>
            </li>
          </ul>
        </div>
        <div class="card-body text-">
          <h5 class="card-title">INDATACORE</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">More...</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-4 shadow">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" href="#">Website</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Linkedin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">List of Jobs</a>
            </li>
          </ul>
        </div>
        <div class="card-body text-">
          <h5 class="card-title">INDATACORE</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">More...</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-4 shadow">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" href="#">Website</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Linkedin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">List of Jobs</a>
            </li>
          </ul>
        </div>
        <div class="card-body text-">
          <h5 class="card-title">INDATACORE</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">More...</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-4 shadow">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link" href="#">Website</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Linkedin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">List of Jobs</a>
            </li>
          </ul>
        </div>
        <div class="card-body text-">
          <h5 class="card-title">INDATACORE</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">More...</a>
        </div>
      </div>
    </div>
  </div>
</div>
